.contact-boxes {
    width: 10vw;
    margin: 0;
    padding: 0;
}

.links {
    width: 10vw;
}

#contact-connect {
    background: linear-gradient(322deg, rgba(100,100,255,1) 0%, rgba(100,100,255,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.section-1-content {
    margin: 15vh 0;
    justify-content: space-around;
    align-items: center;
}

.tooltip {
    justify-content: center;
    visibility: hidden;
    text-shadow: 0px 0px 40px white;
}

.contact-boxes:hover .tooltip {
    visibility: visible;
}

.tab-name {
    display: block;
}

.resume-link {
    color: white;
    text-decoration: none;
    background-color: rgba(137, 43, 226, 0.5);
    padding: 10px 20px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.resume-link:hover {
    background-color: blueviolet;
    border-color: blueviolet;
}

.section-1-content {
    margin: 15vh 0 0 0;
}

.contact-links {
    color: white;
    text-decoration: none;
}

.contact-links p {
    margin-left: 10px;
}

.linkedin div, 
.twitter div,
.github div {
    padding: 0 20px;
}

.linkedin {
    background-color: rgb(0, 119, 191, 0.5);
    border: 2px solid rgb(0, 119, 191);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.linkedin:hover {
    background-color: #0077b5;
}

.twitter {
    background-color: rgb(29, 161, 242, 0.5);
    border: 2px solid rgb(29, 161, 242);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.twitter:hover {
    background-color: rgb(29, 161, 242);
}

.github {
    background-color: rgb(23, 21, 21, 0.5);
    border: 2px solid rgb(23, 21, 21);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.github:hover {
    background-color: rgb(23, 21, 21);
}

@media screen and (max-width: 912px) {
    .section-1-content {
        flex-direction: column;
        margin: 5vh 0 0 0;
        height: 40vh;
    }
    .links {
        width: 50vw;
    }
    .contact-boxes {
        width: 50vw;
    }
    .tooltip {
        visibility: visible;
    }    
    .resume {
        margin: 0;
        height: 30vh;
    }
}