@import url(../styles/variables.css);

h1 {
    margin: 0 !important;
    color: var(--heading-color) !important;
    font-size: 90px !important;
    font-weight: 700 !important;
    cursor: default !important;
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 50vw;    
    }
}

@media screen and (max-width: 600px) {
    ul {
        font-size: 38px !important;
    }
}

@media screen and (max-width: 420px) {
    ul {
        font-size: 30px !important; 
    }
}

@media screen and (max-width: 375px) {
    ul {
        font-size: 25px !important;
    }
}