@import url(./variables.css);

.container {
    padding: 0 3rem !important;
    margin: 0 !important;
}

.row {
    margin-top: 2rem !important;
}

.row .col a {
    color: var(--details-color) !important;
    text-decoration: none !important;
    font-size: calc(1.2rem + .9vw) !important;
    transition: 0.2s ease-in-out;
}

.row .col a:hover {
    opacity: 0.75;
}

.row .col li {
    line-height: 40px !important;
}

@media screen and (max-width: 430px) {
    h1 {
        /* font-size: calc(1.375rem + 1.5vw) !important; */
        font-size: 70px !important;
    }    
}
