@import url(./variables.css);

.container {
    padding: 0 3rem !important;
    margin: 0 !important;
}

.col-lg-3 {
    margin-top: 2rem !important;
}

.row li {
    font-size: calc(1.2rem + .9vw) !important;
}

@media screen and (max-width: 389px) {
    h1 {
        font-size: 50px !important;
    }
    .col-lg-3:nth-child(1) {
        margin-top: 0 !important;
    }
}