
.section-1-content {
    margin: 5vh 0;
}

.hemant-image {
    width: 20vw;
    border: 2px solid white;
    border-radius: 20px;
}

.section-1-text {
    margin: 0vh 5vw;
    text-shadow: 2px 2px 50px black;
    flex-direction: column;
    justify-content: center;
}

.h {
    float: left;
}

.emojis {
    margin: 21.44px 0 0 0;
    font-size: xx-large;
}

h1 {
    margin-bottom: 0;
    background: linear-gradient(0deg, rgba(100,100,255,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}

.about-text {
    margin: 0;
    font-size: large;
}

.about-text>li:hover {
    cursor: default;
    list-style-type:circle;
}

@media only screen and (max-width: 900px) {
    .section-1-content {
        flex-direction:column;
    }
    .hemant-img {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    .hemant-image {
        width: 60vw;
    }
}