.contact-boxes {
    width: 10vw;
    margin: 0;
    padding: 0;
}

.links {
    width: 10vw;
}

.section-1-content {
    margin: 15vh 0;
    justify-content: space-around;
    align-items: center;
}

.tooltip {
    justify-content: center;
    visibility: hidden;
    text-shadow: 0px 0px 40px white;
}

.contact-boxes:hover .tooltip {
    visibility: visible;
}

.tab-name {
    display: block;
}

.resume-link {
    color: white;
    text-decoration: none;
    background-color: blueviolet;
    padding: 10px 20px;
    border: 0px solid blueviolet;
    border-radius: 10px;
    text-align: center;
    transition: box-shadow 0.1s ease-in-out;
    /* box-shadow: 0px 0px 100px black; */
}

.resume-link:hover {
    box-shadow: 0px 0px 40px white;
}

.section-1-content {
    margin: 15vh 0 0 0;
}

@media screen and (max-width: 912px) {
    .section-1-content {
        flex-direction: column;
        margin: 5vh 0 10vh 0;
    }
    .links {
        width: 50vw;
    }
    .contact-boxes {
        width: 50vw;
    }
    .tooltip {
        visibility: visible;
    }
}