.card {
    justify-content: center;
    align-items: center;
}

.card-1 {
    background-image: url(../img/frontend.jpeg);
    background-size: 100%;
    background-repeat: none;
    width: 20vw;
    height: 50vh;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}


.card-2 {
    background-image: url(../img/ui-ux-design.jpeg);
    background-size: 100%;
    background-repeat: none;
    width: 20vw;
    height: 50vh;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.card-3 {
    background-image: url(../img/video-editing.jpeg);
    background-size: 100%;
    background-repeat: none;
    width: 20vw;
    height: 50vh;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.card-1:hover {
    width: 21vw;
    opacity: 0.5;
}

.card-2:hover {
    width: 21vw;
    opacity: 0.5;
}

.card-3:hover {
    width: 21vw;
    opacity: 0.5;
}

.section-1-content {
    justify-content: space-around;
    margin: 5vw 0;
}

@media only screen and (max-width: 900px) {
    .section-1-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 90vh;
    }
    .card-1, .card-2, .card-3 {
        width: 20vh;
        height: 20vh;
    }
    .card-1:hover {
        width: 70vw;
        height: 21vh;
        opacity: 0.5;
    }
    .card-2:hover {
        width: 70vw;
        height: 21vh;
        opacity: 0.5;
    }
    .card-3:hover {
        width: 70vw;
        height: 21vh;
        opacity: 0.5;
    }
}