html {
    margin: 0;
    color: white;
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    width: 100%;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.section-1 {
    margin-top: 10vh;
}

.portfolio-logo {
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

.navbar {
    justify-content: space-between;
}

.navbar-links {
    list-style-type: none;
    display: block;
}

.navbar-link {
    color: white;
    text-decoration: none;
    margin: 0 2vw;
    font-size: large;
    transition: color 0.2s;
}

.navbar-link:hover {
    background: linear-gradient(322deg, rgba(100,100,255,1) 0%, rgba(100,100,255,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.section-1-content {
    justify-content: space-between;
}

.section-1-text {
    margin: 20vh 0;
    font-size: 3rem;
}

.self-text {
    margin: 0;
    float: left;
}

.qualities {
    margin: 10% 0;
    font-size: 2rem;
}

.self-text {
    background: linear-gradient(322deg, rgba(100,100,255,1) 0%, rgba(100,100,255,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.name {
    margin: 0;
    font-size: 4rem;
}

.hemant-image {
    border-radius: 15%;
}

.hemant-img {
    margin: 10vh 0;
}

@media only screen and (max-width: 900px) {
    .section-1-content {
        flex-direction: column-reverse;
    }
    .hello-world {
        display: none;
    }
    .name {
        z-index: 1;
    }  
    .hemant-img {
        text-align: center;
        margin: 2vh 0;
    }
    .hemant-image {
        width: 80vw;
    }
    .section-1 {
        margin-top: 5vh;
    }
    .section-1-text {
        margin: 0;
    }
    .qualities {
        margin: 5% 0;
    }
}